.gallery {
  &__image {
    min-width: 300px;
    position: relative;

    &--button {
      cursor: pointer;
    }
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);

  &__image {
    max-height: calc(100vh - 100px);
    margin-bottom: 5px;
  }

  &__content {
    margin: 15px;
    max-width: 700px;
    width: 100%;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }

  &__next {
    button:first-child {
      margin-right: 5px;
    }
  }

  &__button {
    cursor: pointer;
    // margin-top: 5px;
    background: white;
    border: none;
    height: 2rem;
    border-radius: 5px;
    padding: 0rem 0.75rem;
  }
}
